.footer {
    background-color: #2B3245; /* Cor mais escura para o rodapé */
    padding: 20px 0;
    color: #fff;
    text-align: center; /* Centraliza o texto do rodapé */
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: hidden; /* Esconde qualquer conteúdo que transborde */
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Adiciona padding lateral para alinhamento */
}

.footerSection {
    flex: 1;
    min-width: 200px;
    margin: 10px 0; /* Remove margem horizontal */
    text-align: center; /* Centraliza o texto das seções do rodapé */
    border-right: 1px solid #1B1F2B; /* Barra vertical entre seções */
    padding: 0 20px; /* Adicionando espaço ao redor do conteúdo */
}

.footerSection:last-child {
    border-right: none; /* Remove a barra vertical da última seção */
}

.footerSection h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footerSection p, .footerSection ul {
    margin: 5px 0;
    font-size: 14px;
}

.footerSection ul {
    list-style-type: none;
    padding: 0;
}

.footerSection ul li a {
    color: #fff;
    text-decoration: none;
}

.footerSection ul li a:hover {
    text-decoration: underline;
}

.footerBottom {
    margin-top: 20px;
    text-align: center; /* Centraliza o texto na parte inferior do rodapé */
    font-size: 14px;
    border-top: 1px solid #fff; /* Linha mais escura acima da informação de direitos reservados */
    padding: 15px 0; /* Espaço entre a linha e o texto */
    background-color: #1E2533; /* Fundo azul mais escuro */
    overflow: hidden; /* Esconde qualquer conteúdo que transborde */
}
