.jogoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Adiciona um pouco de preenchimento para evitar que o conteúdo toque as bordas da tela */
}

.jogoContainer {
  position: relative;
  width: 600px;
  background-color: #2B3245; /* Alterando a cor de fundo para azul */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-height: 90vh; /* Limita a altura máxima do contêiner */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.jogoSlotMachine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.jogoSlot {
  width: 150px;
  height: 200px;
  background-color: #c47f17;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jogoSlot img {
  width: 80%;
  height: auto;
}

.jogoHighlighted {
  border: 5px solid #ffeb3b;
}

.jogoControls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.jogoBalance,
.jogoBet {
  display: flex;
  align-items: center;
  color: white;
}

.jogoBalance span,
.jogoBet span {
  margin: 0 10px;
}

.jogoBalance input {
  width: 100px;
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.jogoBet button {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.jogoButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Reduz o espaçamento do topo */
}

.jogoButtonGroup {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.jogoPlayButton,
.jogoExitButton,
.jogoDeleteButton {
  width: 120px; /* Largura reduzida */
}

.jogoPlayButton,
.jogoExitButton,
.jogoDeleteButton {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.jogoPlayButton {
  background-color: #007bff; /* Azul */
  margin-right: 10px; /* Espaçamento entre Play e Sair */
}

.jogoExitButton {
  background-color: #dc3545; /* Vermelho */
}

.jogoDeleteButton {
  background-color: #ffc107; /* Amarelo */
}