.jogoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px; /* Padding to prevent content from touching screen edges */
}

.jogoContainer {
  position: relative;
  width: 800px; /* Increased width */
  background-color: #2B3245; /* Changed background color to blue */
  padding: 30px; /* Increased padding */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-height: 90vh; /* Limits the max height of the container */
  overflow-y: auto; /* Adds vertical scroll if necessary */
}

.jogoSlotMachine {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; /* Increased margin bottom */
}

.jogoSlot {
  width: 200px; /* Increased width */
  height: 250px; /* Increased height */
  background-color: #c47f17;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jogoSlot img {
  width: 100%; /* Adjusted width */
  height: auto;
}

.jogoControls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; /* Increased margin bottom */
}

.jogoBalance,
.jogoBet {
  display: flex;
  align-items: center;
  color: white;
}

.jogoBalance span,
.jogoBet span {
  margin: 0 15px; /* Increased margin */
}

.jogoBalance input {
  width: 150px; /* Increased width */
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px; /* Increased padding */
}

.jogoBet button {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px; /* Increased padding */
  cursor: pointer;
}

.jogoButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Increased margin top */
}

.jogoButtonGroup {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px; /* Increased margin bottom */
}

.jogoPlayButton,
.jogoExitButton,
.jogoDeleteButton {
  width: 150px; /* Increased width */
}

.jogoPlayButton,
.jogoExitButton,
.jogoDeleteButton {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px; /* Increased padding */
  cursor: pointer;
  font-size: 16px; /* Increased font size */
}

.jogoPlayButton {
  background-color: #007bff; /* Blue */
  margin-right: 15px; /* Increased margin between Play and Exit */
}

.jogoExitButton {
  background-color: #dc3545; /* Red */
}

.jogoDeleteButton {
  background-color: #ffc107; /* Yellow */
}
