/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cor de fundo geral */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Borda do input */
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
}

/* Estilos específicos para as seções */
.info-deposito, .saldo-carteira {
    background-color: #fff; /* Fundo branco */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
}

.salvar-cartao {
    background-color: #007bff; /* Azul para o botão */
    margin-right: 10px; /* Espaço entre os botões */
}

.sair {
    background-color: #dc3545; /* Vermelho para o botão */
}
